service cloud.firestore {
  match /databases/{database}/documents {
    // A regra padrão é bloquear o acesso a qualquer
    // documento ou coleção
    match /{document=**} {
      allow read, write: if false;
    }

    // Permite que um usuário tenha acesso ao seus próprios
    // relatos
    match /usuario/{usuario}/relatos/{relato} {
      allow read: if request.auth.uid == usuario;

      // Autenticação
      // Validação dos campos
      allow write: if request.auth.uid == usuario &&
        request.resource.data.keys().hasAll(["conteudo", "intensidadeDaEmocao"]) &&
        request.resource.data.size() == 2 &&
        request.resource.data.conteudo is string &&
        request.resource.data.intensidadeDaEmocao is number;
        //resource.data.data is timestamp;

    }
  }
}
